
/*Sart footer*/
.footer{
    background-color:#232323;
    /* height: 400px; */
    overflow: hidden;
    .col{
        float: left;
        width: 25%;
        h2{
            color: #FFF;
        }
        p{
            font-size: 11px;
            padding-right: 12px;
        }
        i{
            width: 30px;
            color: #777;
            border: 1px solid #777;
            border-radius: 3px;
            padding:10px;
            font-size: 12px;
            margin: 10px 5px 0 0;
        }
        .tags{
            list-style: none;
            li{
                color: #999;
                border: 1px solid #777;
                border-radius: 3px;
                font-size: 11px;
                font-weight: 200;
                float: left;
                margin: 10px 10px 0 0 ;
                padding: 10px;
            }
        }
    }
    .blog{
        list-style: none;
        li {
            color: #999;
            border-bottom: 1px solid #777;
            padding: 10px 0;
            font-size: 11px;
        
        }
    }
    .recent {
        div{
            overflow: hidden;
            margin-bottom: 10px;
            img{
                float: left;
                width: 80px;
                height: 60px;
                margin-right: 10px;
            }
            h4{
                margin: 5px 0 5px 5px;
                color: rgb(194, 186, 186);
            
            }
            span{
                color: #999;
            }
            
        }

    }
    .copyright{
        margin: 40px 0;
        color: #777;
        font-size: 12px;
    }
}
 
 



 
  /*End footer*/