/* Start navbar */
.navbar{

    /* overflow: hidden; */
    text-transform: uppercase;
    font-size: 20px;
    height: 0;/*to made header background up to navbar and that work with clearfix only not with overflow: hidden*/
    color: #919aa4;
    position: relative;
    z-index: 2;
    .brand {

        /* text-align: center; */
        float: left;
        width: 40%;
        img{
            margin-top: 20px;
            max-width: 223px;
        }
    }
    span{
        color: $main-color;
    }
    .links{

        float: left;
        width: 60%;
        text-align: right;
        li{
            display: inline-block;;
            padding:15px 0 0 0;/*Top , Right , Bottom , Left*/
            margin: 0 10px;
            text-transform: capitalize;
            border-Top: 2px solid transparent; /* transparent: hidden the border*/
            font-weight: normal;
            a{
                text-decoration: none;
                color: $text-color;
                 margin-top: 60px;
            }
        &:active{
            a{
                color: $main-color;
                border-top: 2px solid $main-color;
                cursor: pointer;
                &:hover{
                    color: $main-color;
                }
            }
        }
        &:hover{
            border-top: 2px solid $main-color;
            cursor: pointer;
        }
        }
    }
}


/* End navbar */

/*Start media*/
@media(min-width:768px) and (max-width: 991px){
    .navbar{
        .brand{
            .links{
                // color: #f7600f !important;
            }
        }
    }
}

@media(min-width:992px) and (max-width: 1199px){
    .navbar{
        .brand{
            .links{
                
                margin:20px 0 !important;
                padding: 0 !important;

               li{
                //    color: #f7600f;
               } 
                
            }
        }
    }
}
/*End media*/