.navbar-icon{
    height: 50px;
    background-color: #2b3034;
    .navbar-left{
        width: 50%;
        span{
            color: #919aa4;
            cursor: pointer;
        }
        i{
            color: #bcbcbc;
            line-height: 50px;
            cursor: pointer;
         &:hover{
                color: $main-color;
                
            }

        }
    }
    .navbar-right{
        width: 50%;
        i{
            color: #bcbcbc;
            line-height: 50px;
            float: right;
            cursor: pointer;
            margin-left: 5px;
        &:hover{
            color: $main-color;
            
        }
        }
    }
}


@media(max-width: 767px){
    
}
